.container {
  border-bottom: 1px solid #cecece;
  padding: 16px;

  height: 100px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.walletBalance {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;

  span {
    font-size: 18px;
    font-weight: 600;

    display: block;
  }
}

.walletDetails {
  text-align: right;

  span {
    font-size: 18px;
    font-weight: 600;

    display: block;
  }
}